@charset "UTF-8";
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Regular.ttf");
}
@font-face {
  font-family: "Acherus Feral";
  src: url("../fonts/AcherusFeral-Bold.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_slnt,wght.ttf");
}
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 50px;
  display: none;
  font-family: "Nunito Sans";
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > a {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 767px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0px;
    margin-top: 80px;
    right: 0px;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu a {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu a {
    height: 2.5em;
    padding: 5px 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu #menu-nav1 {
    border-top: 1px solid #fff;
  }
  #menu-toggle:checked ~ .menu #menu-nav2 {
    border-top: 1px solid #fff;
  }
  #menu-toggle:checked ~ .menu #menu-nav3 {
    border-top: 1px solid #fff;
  }
  #menu-toggle:checked ~ .menu #menu-nav4 {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  .menu > a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: transparent;
  }
  .menu > a:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f8ff;
}

.big-con {
  background-image: url("../img/bg-image.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center, center;
  height: auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  height: auto;
}

a {
  text-decoration: none;
}

span {
  color: #3B47B3;
}

.color-gray {
  color: #c9c9c9;
}

html {
  scroll-behavior: smooth;
}

header {
  padding: 0 20px;
}

.linear {
  height: 0.1px;
  background: rgba(255, 255, 255, 0.5);
}

.header__con {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 128px;
  height: 20px;
}

.header__nav {
  display: flex;
  gap: 60px;
}

.header__nav a {
  width: 114px;
  height: 20px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
.header__nav a:active {
  color: #3B47B3;
}

.header__nav button {
  border: none;
  border-left: 0.5px solid #fff;
  opacity: 0.5;
}

.free-reg__arrow {
  width: 38px;
  height: 38px;
  background: #fff;
  border-radius: 50%;
}

.header__free-reg {
  display: flex;
  gap: 30px;
  align-items: center;
  border-left: 0.2px solid #aab2b3;
  height: 100%;
}

.header__free-reg a:nth-child(2) {
  width: 190px;
  height: 20px;
  left: 1127px;
  top: 41px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}
.header__free-reg a:nth-child(2):active {
  color: #3B47B3;
}

.free-reg__arrow svg {
  width: 20px;
}

.free-reg__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-20px);
}
.free-reg__arrow:active {
  color: #3B47B3;
}

.main-block1 {
  margin-top: 220px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 0 100px 150px;
  transition: 0.4s;
}

.main-block1 h1 {
  width: 829px;
  height: 264px;
  font-family: "Acherus Feral";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 120%;
  color: #ffffff;
}

.main-block1 button {
  width: 310px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border: none;
  background: #3b47b3;
  border-radius: 81px;
}

.main-block1__btn svg {
  width: 20px;
}

.main-block1__btn {
  width: 195px;
  height: 22px;
  left: 197px;
  top: 644px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #ffffff;
}
.main-block1__btn:active {
  background-color: #fff;
  color: #3B47B3;
}

.block1__reg {
  color: #ffffff;
}

.main-block2 {
  height: 950px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.block2__img-con {
  width: 500px;
  height: 637px;
  background-image: url("../img/im-mw.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center, center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.block2__img-con button {
  font-family: "Acherus Feral";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  width: 150px;
  height: 58px;
  background: #3B47B3;
  border-radius: 12px;
  border: none;
}
.block2__img-con button:active {
  color: #3B47B3;
  background-color: #fff;
}

.block2__img-con button:nth-child(1) {
  transform: translate(-150px, 140px);
}

.block2__img-con button:nth-child(2) {
  transform: translate(150px, 35px);
}

.block2__text-con h5 {
  width: 352px;
  height: 21px;
  font-family: "Acherus Feral";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
  color: #1F1F1F;
}

.block2__text-con p {
  width: 560px;
  height: auto;
  font-family: "Acherus Feral";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #1F1F1F;
}

.text-con__img-con {
  width: 500px;
  height: 265px;
  background-image: url("../icon/Vector 29.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center, center;
  display: flex;
  margin: 0;
  transform: translateY(70px);
}

.small-circle1 {
  width: 22px;
  height: 22px;
  background: #AFB5EB;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-circle2 {
  width: 10px;
  height: 10px;
  background: #3B47B3;
  border-radius: 50%;
}

.position1 {
  transform: translate(-12px, 22px);
}

.position2 {
  transform: translate(30px, 162px);
}

.text-con__img {
  width: 427px;
  height: 144px;
  background-image: url("../img/city.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center, center;
  transform: translate(-5px, 55px);
  border-radius: 10px;
}

.text-con__img p {
  width: 305px;
  height: 72px;
  font-family: "Acherus Feral";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  /* or 24px */
  text-align: center;
  color: #ffffff;
}

.main-block3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.block3__card h1 {
  width: 225px;
  height: 56px;
  font-family: "Acherus Feral";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #1F1F1F;
}

.block3__card p {
  width: 305px;
  height: 88px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #545454;
}

.main-block4 {
  margin-bottom: 50px;
}

.main-block4 h1 {
  width: 409px;
  height: 66px;
  font-family: "Acherus Feral";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 120%;
  color: #1F1F1F;
  padding-left: 85px;
}

.block4__images-con {
  padding-left: 85px;
  display: flex;
  gap: 30px;
}

.info-img1 {
  cursor: pointer;
  width: 630px;
  height: 460px;
  background-image: url("../img/service1.jpg");
  border-radius: 14px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center, center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.info-img1:active .info-img1__text1 {
  color: #3B47B3;
}
.info-img1:active {
  color: #3B47B3;
}

.info-img1__text1 {
  width: 300px;
  height: 114px;
  font-family: "Acherus Feral";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 125%;
  color: #ffffff;
  transform: translate(-10px, 150px);
}

.arrow-btn {
  width: 58px;
  height: 58px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(10px, -150px);
}

.arrow-btn svg {
  width: 25px;
}

.info-img2-con {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.img2-bg {
  background-image: url("../img/service2.jpg");
  border-radius: 14px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center, center;
}

.info-img2 {
  width: 500px;
  height: 220px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.info-img2:active .info-img2__text2 {
  color: #3B47B3;
}
.info-img2:active {
  color: #3B47B3;
}

.info-img2__text2 {
  width: 292px;
  height: 62px;
  font-family: "Acherus Feral";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;
  color: #ffffff;
  transform: translate(-10px, 60px);
}

.arrow-btn2 {
  width: 38px;
  height: 38px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(10px, -60px);
}

.arrow-btn2 svg {
  width: 20px;
}

.img3-bg {
  background-image: url("../img/service3.jpg");
  border-radius: 14px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center, center;
}

.main-block5 {
  background-color: #fff;
  text-align: left;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block5__bg-image img {
  width: 100%;
}

.gray-text__bg {
  height: auto;
  width: 841px;
  background: linear-gradient(140deg, #1f1f1f 50%, #9c9c9c 50%);
}

.gray-text {
  margin: 0;
  background-color: #fff;
  font-size: 75px;
  mix-blend-mode: screen;
  font-family: "Acherus Feral";
  font-style: normal;
  font-weight: 700;
  position: relative;
  line-height: 120%;
  z-index: 20;
  color: #000000;
}

.general__block6 {
  margin-top: 100px;
}

.general__block6 {
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
}

.main-block6 h1 {
  width: 586px;
  height: auto;
  font-family: "Acherus Feral";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 120%;
  color: #3B47B3;
}

.block6__text {
  width: 488px;
  height: 66px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #3B47B3;
}

.text-con__card {
  width: 236px;
  height: 83px;
  background: #3B47B3;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-block {
  cursor: pointer;
  width: 34px;
  height: 34px;
  background: #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../icon/Vector 27.png");
  background-position: center, center;
  background-repeat: no-repeat;
  transform: translateX(-25px);
}

.text-con__card p {
  color: #fff;
  width: 195px;
  height: auto;
  /* 123 */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.general-block__card {
  width: 820px;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  margin-top: 30px;
}

.block6__img-con {
  width: 420px;
  height: 524px;
}

.block6__img-con img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.price {
  width: 163px;
  height: 28px;
  font-family: "Acherus Feral";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 125%;
  color: #1F1F1F;
}

.price-con button {
  cursor: pointer;
  width: 271px;
  height: 70px;
  background: #1F1F1F;
  border-radius: 81px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1F1F1F;
  color: #FFFFFF;
}
.price-con button:active {
  color: #1f1f1f;
  background-color: #fff;
}

.block6__register {
  color: #fff;
}

.price-con {
  margin-top: 60px;
  display: flex;
  align-items: center;
  height: 100px;
  gap: 30px;
  padding-left: 80px;
}

.main-block7 {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  transform: translateX(-5px);
  gap: 100px;
  padding: 0 20px;
  height: auto;
}

.block7-title {
  width: 432px;
  height: 240px;
  font-family: "Acherus Feral";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  margin: 0;
  color: #000000;
}

.block7__info-con {
  display: grid;
  gap: 80px;
}

.block__circle {
  width: 34px;
  height: 34px;
  background: #AFB5EB;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.circle__circle {
  width: 14px;
  height: 14px;
  background: #3B47B3;
  border-radius: 50%;
}

.block__title {
  width: 232px;
  height: 48px;
  font-family: "Acherus Feral";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 15px;
}

.block__text {
  height: auto;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #545454;
}

.grid1 {
  width: 206px;
  grid-area: 1/1/2/2;
}

.grid2 {
  width: 217px;
  grid-area: 1/2/2/3;
}

.grid3 {
  width: 251px;
  grid-area: 2/1/3/2;
}

.grid4 {
  width: 287px;
  height: 110px;
  grid-area: 2/2/3/3;
}

.circle2 {
  transform: translate(-55px, 65px);
  display: none;
}

.wrap__block8 {
  margin-top: 120px;
  height: auto;
  background: linear-gradient(90deg, #fff 70%, #3b47b3 30%);
}

.main-block8 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px;
}

.block8__text-con {
  display: flex;
  flex-direction: column;
  gap: 158px;
  height: 90%;
  justify-content: flex-end;
}

.block8__title {
  width: 330px;
  height: 144px;
  font-family: "Acherus Feral";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #000000;
}

.black-circle {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  background-color: #1F1F1F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-circle svg {
  width: 20px;
  color: #fff;
}

.slide__desk {
  width: 340px;
  height: 418px;
  background: #c9cef7;
  border-radius: 12px;
}

.desk-con {
  width: 258px;
  height: 80%;
  padding: 40px;
}

.slide__desk-image {
  width: 340px;
  height: 418px;
  background: #c9cef7;
  border-radius: 12px;
  background-color: #3B47B3;
}

.desk-image__fon {
  width: 100%;
  height: 100%;
  background-image: url("../img/Mask Group.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.desk__icon {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3B47B3;
  border-radius: 50%;
  margin-bottom: 75px;
}

.desk__title {
  width: 262px;
  height: 24px;
  font-family: "Acherus Feral";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 25px;
  color: #3b47b3;
}

.desk__text {
  width: 263px;
  height: 160px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #3b47b3;
}

.fon__ball {
  padding-top: 40px;
  padding-left: 145px;
}

.fon__title {
  width: 148px;
  height: 24px;
  margin-bottom: 25px;
  margin-top: 100px;
  font-family: "Acherus Feral";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  padding-left: 40px;
  color: #ffffff;
}

.fon__text {
  width: 227px;
  height: auto;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding-left: 40px;
  color: #ffffff;
}

.slide-con {
  display: flex;
  margin-top: 150px;
  margin-bottom: 82px;
}

.slide__desk2 {
  display: none;
}

#slides {
  width: 700px;
}

#slides article {
  /*все изображения справа друг от доруга*/
  width: 350px;
  float: left;
}

#slides .image {
  /*устанавливает общий размер блока с изображениями*/
  width: 600%;
  line-height: 0;
}

#overflow {
  /*сркывает все, что находится за пределами этого блока*/
  width: 100%;
  overflow: hidden;
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(6),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4),
#switch6:checked ~ #controls label:nth-child(5) {
  background: url("../icon/l268x68.png") no-repeat; /*заливка фона картинкой без повторений*/
  float: left;
  transform: translate(-84px, -250px);
  display: block;
  height: 68px;
  width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(6),
#switch6:checked ~ #controls label:nth-child(1) {
  background: url("../icon/r268x68.png") no-repeat; /*заливка фона картинкой без повторений*/
  float: right;
  transform: translate(84px, -250px);
  display: flex;
  align-items: flex-start;
  height: 68px;
  width: 68px;
}

label,
a {
  /*при наведении на стрелки или переключатели - курсор изменится*/
  cursor: pointer;
}

.all input {
  /*скрывает стандартные инпуты (чекбоксы) на странице*/
  display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image {
  margin-left: 0;
}

#switch2:checked ~ #slides .image {
  margin-left: -100%;
}

#switch3:checked ~ #slides .image {
  margin-left: -200%;
}

#controls {
  /*положение блока всех управляющих элементов*/
  width: 100%;
  height: 50px;
}

#active label {
  /*стиль отдельного переключателя*/
  border-radius: 10px; /*скругление углов*/
  display: none; /*расположение в строку*/
  width: 15px;
  height: 15px;
  background: #bbb;
}

#active label:hover {
  /*поведение чекбокса при наведении*/
  background: #76c8ff;
  border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5),
#switch6:checked ~ #active label:nth-child(6) {
  background: #18a3dd;
  border-color: #18a3dd !important;
}

#slides .image {
  /*анимация пролистывания изображений*/
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

#controls label:hover {
  /*прозрачность стрелок при наведении*/
  opacity: 0.6;
}

#controls label {
  /*прозрачность стрелок при отводе курсора*/
  transition: opacity 0.2s ease-out;
}

.main-block9 {
  height: auto;
  display: flex;
}

.bg-img {
  width: 30%;
  height: 718px;
}

.bg-img img {
  width: 100%;
  height: 100%;
}

.input-text__con {
  width: 70%;
  background-color: #3B47B3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block9__text-con {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.b9text-con__title {
  width: 436px;
  height: 76px;
  font-family: "Acherus Feral";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 125%;
  text-align: center;
  margin-bottom: 25px;
  color: #ffffff;
}

.b9text-con__text {
  width: 386px;
  height: 66px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 60px;
}

::placeholder {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.input-con__item {
  padding-left: 30px;
  width: 260px;
  height: 70px;
  background: #4E5BC9;
  border-radius: 12px;
  border: 1px solid #3B47B3;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
.input-con__item:focus {
  border-color: #bdbdbd;
  outline: none;
  box-shadow: 0 0 0 2px rgb(31, 31, 31);
  background-color: #fff;
  color: #1F1F1F;
}

.input-con__button {
  width: 290px;
  height: 70px;
  background: #ffffff;
  border-radius: 12px;
  border: none;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1f1f1f;
}
.input-con__button:active {
  background-color: #1f1f1f;
  color: #fff;
}

.input-con {
  width: 620px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.main-block10 {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 540px;
}

.block10__title {
  width: 701px;
  height: 198px;
  font-family: "Acherus Feral";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 120%;
  color: #000000;
}

.block10__text-con p {
  width: 394px;
  height: 88px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.main-block11 {
  width: 100%;
  height: auto;
  background: url("../img/bg-im2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container__items {
  padding: 60px;
}

.block11__position {
  height: 1000px;
  border-left: 1px solid #c9c9c9;
}

.items__icon {
  cursor: pointer;
  width: 45px;
  height: 45px;
  background: #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../icon/Group 36.png");
  background-position: center, center;
  background-repeat: no-repeat;
  transform: translate(-83px, 75px);
}

.items__title {
  width: 232px;
  height: 48px;
  font-family: "Acherus Feral";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.items__text {
  width: 251px;
  height: auto;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.mini__block11 {
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.block11__icon {
  width: 140px;
}

.main-block12 {
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.first-con__title {
  width: 560px;
  height: 144px;
  font-family: "Acherus Feral";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 50px;
}

.first-con__button {
  cursor: pointer;
  width: 252px;
  height: 70px;
  background: #1F1F1F;
  border-radius: 81px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid #1F1F1F;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-con__button:active {
  background-color: #fff;
  color: #1F1F1F;
}

.second-con__title {
  width: 87px;
  height: 24px;
  font-family: "Acherus Feral";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 10px;
}

.second-con__subtitle {
  display: block;
  width: 191px;
  height: 22px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 50px;
}

.block12__icon-con {
  display: flex;
  gap: 35px;
}

.icon-con__content svg {
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: 0.7s;
}
.icon-con__content svg:hover {
  transform: scale(1.2);
}

.footer-bg {
  width: 100%;
  border-top: 1px solid #D5DCE3;
}

.footer-con {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 30px;
  margin-bottom: 40px;
}

.footer__nav-con {
  width: 250px;
  height: 85px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.nav {
  width: 104px;
  height: 20px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  color: #1F1F1F;
  padding: 0px;
}

.footer__content {
  width: 160px;
  height: 40px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-align: right;
  color: #1F1F1F;
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
