@font-face {
    font-family: 'Nunito Sans';
    src: url("../fonts/NunitoSans-Regular.ttf");
}
@font-face {
    font-family: 'Acherus Feral';
    src: url("../fonts/AcherusFeral-Bold.ttf");
}
@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter-VariableFont_slnt\,wght.ttf");
}