@mixin input{
    width: 260px;
height: 70px;
background: #4E5BC9;
border-radius: 12px;
}
@mixin black-btn {
    cursor: pointer;
    width: 271px;
height: 70px;
background: #1F1F1F;
border-radius: 81px;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */
display: flex;
align-items: center;
justify-content: center;
// text-align: center;
border: 1px solid #1F1F1F;
color: #FFFFFF;
}
@mixin card {
    width: 236px;
height: 83px;
background: #3B47B3;
border-radius: 12px;
}
@mixin basic {
    background: #AFB5EB;
    border-radius: 50%;
}
@mixin circle {
    background: #3B47B3;
    border-radius: 50%;
}
@mixin circle-white {
    background: #fff;
    border-radius: 50%;
    
}
@mixin done {
    cursor: pointer;
    width: 34px;
height: 34px;
background: #FFFFFF;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
background-image: url("../icon/Vector\ 27.png");
background-position: center,center;
background-repeat: no-repeat;
}
@mixin plus {
    cursor: pointer;
    width: 45px;
height: 45px;
background: #FFFFFF;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
background-image: url("../icon/Group\ 36.png");
background-position: center,center;
background-repeat: no-repeat;
}
@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin small-button {
    cursor: pointer;
    width: 150px;
height: 58px;
background: #3B47B3;
border-radius: 12px;
border: none;
&:active{
    color: $primary;
    background-color: #fff;
}
}
@mixin bg-setting {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center,center;
}